{% include './part/head.html' %}
<link rel="stylesheet" href="../static/css/container.css">
<link rel="stylesheet" href="../static/css/init.css">

<style>
    .text_container {
        width: 55%;
        margin: 140px auto 40px auto;
    }

    .container td {
        -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
        color: #1F2739;
        border-radius: 2px;
    }

    .container {
        margin: 0px auto 100px auto;
        text-align: center;
        overflow: hidden;
        width: 50%;
        display: table;
        min-height: 80%;
        padding: 8px;

    }

    td, th {
        padding-bottom: 2%;
        padding-top: 2%;
    }

    .container tr:nth-child(odd) {
        background-color: #f7f7f7;
    }

    .container tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .container th {
        background-color: #1F2739;
        color: #FB667A;
    }

    .container tr:hover {
        background-color: #464A52;
        -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
    }

    .blog-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 55%;
        margin: 140px auto 40px auto;

    }

    .blogcard-d1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #fff;
        border: 4px solid #ddd;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
        box-shadow: 0 1px 5px rgba(0, 0, 0, .08);
        border-radius: 10px;
        width: 95%;
        height: 150px;
        padding: 8px;
        font-size: 15px;
        margin: 5px;
        color: #1F2739;
    }

    .heading {
        margin-top: 5px;
        font-size: 22px;
    }

    .date {
        font-size: 12px;
        margin-bottom: 15px;
        color: #999;
    }

    .des {
        font-size: 15px;
        display: block;
        width: 100%;
        height: 60px;
        margin-bottom: 5px;
    }

    .btn {
        text-align: center;
        padding: .375rem .75rem;
        font-size: 10px;
        border-radius: 8px;
        outline: 0;
        cursor: pointer;
        border: 1px solid transparent;
    }

    .btn-purple {
        background-color: #1F2739;
        color: #fff;
    }

    .btn-purple:focus {
        -webkit-box-shadow: 0 0 0 0.2rem rgba(102, 51, 153, .5);
        box-shadow: 0 0 0 0.2rem rgba(102, 51, 153, .5);
    }

    .btn-purple:active {
        -webkit-transform: scale(.9) rotate(-4deg);
        transform: scale(.9) rotate(-4deg);
    }


    .navigation {
        height: 60px;
        background: #02092c;
        width: 100%;
        margin-bottom: auto;
    }

    .brand {
        position: absolute;
        padding-left: 20px;
        float: left;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 1.4em;
    }

    .brand a,
    .brand a:visited {
        color: #ffffff;
        text-decoration: none;
    }

    .nav-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    nav {
        float: right;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        float: left;
        position: relative;
    }

    nav ul li a,
    nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 60px;
        background: #02092c;
        color: #ffffff;
        text-decoration: none;
    }

    nav ul li a:hover,
    nav ul li a:visited:hover {
        background: #2581dc;
        color: #ffffff;
    }

    nav ul li a:not(:only-child):after,
    nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: " ▾";
    }

    nav ul li ul li {
        min-width: 190px;
    }

    nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
    }


</style>
<script>
    $(document).ready(function () {
        let certi = $('#certi').attr('content')
        dbData(certi)
        review(certi)
    })

    function dbData(certi) {
        $.ajax({
            type: "POST",
            url: "/detailCerti",
            data: {
                "certi_give": certi
            },
            success: function (response) {
                if (response["result"] === "success") {
                    let detail_certi = response['dbData']
                    let division = detail_certi['division']

                    for (let i = 0; i < division.length; i++) {
                        let PT_Application = detail_certi['PT_Application'][i]
                        let PT_Exam = detail_certi['PT_Exam'][i]
                        let PT_Pass = detail_certi['PT_Pass'][i]
                        let WT_Application = detail_certi['WT_Application'][i]
                        let WT_Exam = detail_certi['WT_Exam'][i]
                        let WT_Pass = detail_certi['WT_Pass'][i]

                        let temp = `<tr>
                                        <td>${i + 1}</td>
                                        <td>${PT_Application}</td>
                                        <td>${PT_Exam}</td>
                                        <td>${PT_Pass}</td>
                                        <td>${WT_Application}</td>
                                        <td>${WT_Exam}</td>
                                        <td>${WT_Pass}</td>
                                    </tr>`
                        $('tbody').append(temp)
                    }
                }
            }
        })
    }

    function review(certi) {
        $.ajax({
            type: "POST",
            url: "/reviewData",
            data: {
                "certi_give": certi
            },
            success: function (response) {
                if (response["result"] === "success") {
                    let blog_reviews = response['blogData']['items']
                    let cafe_reviews = response['cafeData']['items']

                    for (let i = 0; i < blog_reviews.length; i++) {
                        let title = blog_reviews[i]['title']
                        let link = blog_reviews[i]['link']
                        let postdate = blog_reviews[i]['postdate']
                        let des = blog_reviews[i]['description']

                        let temp = `<div class="blogcard-d1">
                                        <div class="heading">${title}</div>
                                        <div class="date">${postdate}</div>
                                        <div class="des">${des}
                                        </div>
                                        <button type="button" class="btn btn-purple" onclick="location.href = '${link}';">후기보러 가기</button>
                                    </div>`
                        $('.blog-container').append(temp)
                    }

                    for (let i = 0; i < cafe_reviews.length; i++) {
                        let title = cafe_reviews[i]['title']
                        let link = cafe_reviews[i]['link']
                        let cafe = cafe_reviews[i]['cafename']
                        let des = cafe_reviews[i]['description']

                        let temp = `<div class="blogcard-d1">
                                        <div class="heading">${title}</div>
                                        <div class="date">${cafe}</div>
                                        <div class="des">${des}
                                        </div>
                                        <button type="button" class="btn btn-purple" onclick="location.href = '${link}';">후기보러 가기</button>
                                    </div>`
                        $('.blog-container').append(temp)
                    }
                }
            }
        })
    }


    //TODO: 검색 결과 없을 경우 화면 구현
    var isEmpty = function (value) {
        if (value == "" || value == null || value == undefined || (value != null && typeof value == "object" && !Object.keys(value).length)) {
            return true
        } else {
            return false
        }
    };


</script>
</head>
<body>
<div id="wrap">
    <meta id="certi" content="{{certi}}">

    <div class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="">전자백</a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="http://localhost:5000/">Home</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/listPage?major=%EC%BB%B4%ED%93%A8%ED%84%B0">myCerti</a>
                    </li>
                    <li>
                        <a href="">자격증 한눈에보기</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="text_container">
            <div>
                <h2><span id="title_span">'{{certi}}'</span> 의<br>시험 일정과 시험 후기를 알려드릴께요! 🙌</h2>
            </div>
        </div>
        <table class="container">
            <thead>
            <tr>
                <th><h4>구분</h4></th>
                <th><h4>필기접수</h4></th>
                <th><h4>필기시험</h4></th>
                <th><h4>필기결과발표</h4></th>
                <th><h4>실기접수</h4></th>
                <th><h4>실기시험</h4></th>
                <th><h4>실기결과발표</h4></th>
            </tr>
            </thead>
            <tbody class="tr_container">
            </tbody>
        </table>
        <div class="blog-container">
        </div>
    </div>
</div>

{% include './part/footer.html' %}