{% include './part/head.html' %}

<style>

    #wrap {
        background-color: #1F2739;
    }

    #title_span {
        font-size: 40px;
    }

    .text_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 55%;
        min-height: 20%;
        margin: 100px 0px 40px 0px;
    }

    .container td {
        -webkit-box-shadow: 0 2px 2px -2px #0E1119;
        -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
        color: #1F2739;
        border-radius: 2px;
    }

    .container {
        text-align: center;
        overflow: hidden;
        width: 55%;
        display: table;
        min-height: 80%;
        padding: 8px;
        margin-bottom: 100px;
    }

    td, th {
        padding-bottom: 2%;
        padding-top: 2%;
    }

    .container tr:nth-child(odd) {
        background-color: #f7f7f7;
    }

    .container tr:nth-child(even) {
        background-color: #e6e6e6;
    }

    .container th {
        background-color: #1F2739;
        color: #FB667A;
    }


    .container tr:hover {
        background-color: #464A52;
        -webkit-box-shadow: 0 6px 6px -6px #0E1119;
        -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
    }


</style>

<script>
    $(document).ready(function () {
        get_data()
    })

    function get_data() {
        let certi = $('#certi').attr('content')
        $.ajax({
            type: "POST",
            url: "/detailCerti",
            data: {
                "certi_give": certi
            },
            success: function (response) {
                if (response["result"] === "success") {
                    let detail_certi = response['data']
                    let division = detail_certi['division']

                    for (let i = 0; i < division.length; i++) {
                        let PT_Application = detail_certi['PT_Application'][i]
                        let PT_Exam = detail_certi['PT_Exam'][i]
                        let PT_Pass = detail_certi['PT_Pass'][i]
                        let WT_Application = detail_certi['WT_Application'][i]
                        let WT_Exam = detail_certi['WT_Exam'][i]
                        let WT_Pass = detail_certi['WT_Pass'][i]


                        let temp = `<tr>
                                        <td>${i + 1}</td>
                                        <td>${PT_Application}</td>
                                        <td>${PT_Exam}</td>
                                        <td>${PT_Pass}</td>
                                        <td>${WT_Application}</td>
                                        <td>${WT_Exam}</td>
                                        <td>${WT_Pass}</td>
                                    </tr>`
                        $('tbody').append(temp)
                    }
                }
            }
        })
    }

    var isEmpty = function (value) {
        if (value == "" || value == null || value == undefined || (value != null && typeof value == "object" && !Object.keys(value).length)) {
            return true
        } else {
            return false
        }
    };


</script>
</head>

<body>
<div id="wrap">
    <meta id="certi" content="{{certi}}">
    <div class="text_container">
        <div>
            <h2><span id="title_span">'{{certi}}'</span> 의<br>시험 일정과 시험 후기를 알려드릴께요! 🙌</h2>
        </div>
    </div>
    <table class="container">
        <thead>
        <tr>
            <th><h4>구분</h4></th>
            <th><h4>필기접수</h4></th>
            <th><h4>필기시험</h4></th>
            <th><h4>필기결과발표</h4></th>
            <th><h4>실기접수</h4></th>
            <th><h4>실기시험</h4></th>
            <th><h4>실기결과발표</h4></th>
        </tr>
        </thead>
        <tbody class="tr_container">
        </tbody>
    </table>

</div>

{% include './part/footer.html' %}