{% include './part/head.html' %}

<link rel="stylesheet" href="../static/css/card.css">
<link rel="stylesheet" href="../static/css/init.css">

<style>

    .up {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 280px auto;
    }

    .search_container {
        display: flex;
        width: 45%;
        font-size: 18px;
        margin: 30px auto 0;
        background-color: #fff;
        border-radius: 30px;
    }

    .input-lg {
        height: 44px;
        padding: 10px 5px;
        margin-left: 33px;
        font-size: 18px;
        line-height: 1.3333333;
        background-color: transparent;
        border: none;
        border-radius: 25px;
        width: 90%;
    }

    .search_icon {
        margin-top: 10px;
        margin-right: 20px;
        width: 40px;
        height: 40px;
    }

    .card_container {
        margin-bottom: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .card {
        width: 80%;
    }


    .navigation {
        height: 60px;
        background: #02092c;
        width: 100%;
        margin-bottom: auto;
    }

    .brand {
        position: absolute;
        padding-left: 20px;
        float: left;
        line-height: 60px;
        text-transform: uppercase;
        font-size: 1.4em;
    }

    .brand a,
    .brand a:visited {
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 28px;
        color: #ffffff;
        text-decoration: none;
    }

    .nav-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    nav {
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 18px;
        float: right;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        float: left;
        position: relative;
    }

    nav ul li a,
    nav ul li a:visited {
        display: block;
        padding: 0 20px;
        line-height: 60px;
        background: #02092c;
        color: #ffffff;
        text-decoration: none;
    }

    nav ul li a:hover,
    nav ul li a:visited:hover {
        background: #2581dc;
        color: #ffffff;
    }

    nav ul li a:not(:only-child):after,
    nav ul li a:visited:not(:only-child):after {
        padding-left: 4px;
        content: " ▾";
    }

    nav ul li ul li {
        min-width: 190px;
    }

    nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
    }

</style>

<script>
    $(document).ready(function () {
        load_mycerti()
        $("#search-input").keydown(function (key) {
            if (key.keyCode === 13) {
                search_enter()
            }
        });
    });

    function search_enter() {
        let input = $("#search-input").val()
        if (input === '') {
            alert("값을 입력해주세요")
        } else {
            window.location.href = '/listPage?major=' + input
        }
    }

    function load_mycerti() {
        let keys = Object.keys(localStorage);
        for (let key of keys) {
            let check = localStorage.getItem(key);
            if (check === 'true') {
                let src = "../static/img/fill_heart.png "
                let temp = `<div class="card">
                            <div class="card-text-content ">
                                <p class="card-head"><b>${key}</b><img class="heart_image" src=${src} ></p>
                                <p class="go_detail" ><img src="../static/img/arrow.png " width="20" height="20" > Click!</p>
                            </div>
                        </div>`
                $('.card_container').append(temp)
            } else {
            }
            go_detail()
        }
        let leng = $('.card_container').children('.card').length
        if (leng == 0) {
            $('h3').hide()
        }
    }

    function go_detail() {
        $(".go_detail").click(function () {
            let p = $(this)
            let siblings = p.siblings().text()
            window.location.href = '/detailPage?certi=' + siblings
        });
    }

</script>

</head>
<body>
<div id="wrap">
    <div class="navigation">
        <div class="nav-container">
            <div class="brand">
                <img src="../static/img/link2.png" width="25" height="25">
                <a href="">CwithM</a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li>
                        <a href="http://localhost:5000/">Home</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/myCerti">myCerti</a>
                    </li>
                    <li>
                        <a href="">자격증 한눈에보기</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="up">
            <div class="text_container">
                <h1>What's your Major? 🤔</h1>
            </div>
            <section class="search_container">
                <label for="search-input"></label>
                <input class="input-lg" id="search-input" placeholder="전공을 입력해주세요"
                       spellcheck="false" autocorrect="off" autocomplete="off" tabindex="1"><img
                        src="../static/img/search_icon.png " class="search_icon">
            </section>
        </div>
    </div>
</div>
{% include './part/footer.html' %}