{% include './part/head.html' %}
<link rel="stylesheet" href="../static/css/card.css">
<link rel="stylesheet" href="../static/css/container.css">

<script>
    $(document).ready(function () {
        get_data()
    })

    function get_data() {
        let major = $('#major').attr('content')
        $.ajax({
            type: "POST",
            url: "/result",
            data: {
                "major_give": major
            },
            success: function (response) {
                if (response["result"] === "success") {
                    let datas = response['data']

                    for (let i = 0; i < datas.length; i++) {
                        let data = datas[i]
                        let certi = data['certi']
                        let src = get_heart(certi)
                        let temp = `<div class="card card-row ">
                                        <div class="card-text-content ">
                                            <p class="card-head"><b>${certi}</b><img class="heart_image_${i} heart_image" src=${src} ></p>
                                            <p class="go_detail" ><img src="../static/arrow.png " width="20" height="20" > Click!</p>
                                        </div>
                                    </div>`
                        $('.card_container').append(temp)
                        go_detail()
                        click_heart(i)
                    }
                }
            }
        })
    }

    // 저장된 하트를 가져올 때
    function get_heart(key) {
        let check = localStorage.getItem(key);
        let src
        if (check === 'true') {
            src = "../static/fill_heart.png "
            return src
        } else {
            src = "../static/basic_heart.png "
            return src
        }
    }

    // 하트 눌렀을 때
    function click_heart(i) {
        $(`.heart_image_${i}`).click(function () {
            let p = $(this)
            let click = p.parent().text()
            let check = localStorage.getItem(click);

            if (check === 'true') {
                $(`.heart_image_${i}`).attr("src", "../static/basic_heart.png ")
                localStorage.setItem(p.parent().text(), false)
            } else {
                $(`.heart_image_${i}`).attr("src", "../static/fill_heart.png ")
                localStorage.setItem(p.parent().text(), true)
            }
        });
    }

    function go_detail() {
        $(".go_detail").click(function () {
            let p = $(this)
            let siblings = p.siblings().text()
            window.location.href = '/detailPage?certi=' + siblings
        });
    }

</script>

</head>
<body>
<div id="wrap">
    <meta id="major" content="{{major}}">
    <div class="text_container">
        <div>
            <h2><span id="title_span">'{{major}}'</span> 와<br>관련된 자격증을 보여드릴게요! 💡</h2>
        </div>
    </div>
    <div class="card_container">
    </div>
</div>

{% include './part/footer.html' %}